@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

@keyframes shine-natural {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-shine-natural {
  animation: shine-natural 5s ease-in-out infinite;
}

